@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-size: 14px;
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 1;
}

h3 {
  font-size: 2rem;
}

p,
.modal-specs-paragraph {
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.6;
}

.link-btn,
a {
  color: white;
  background: transparent;
  font-size: 1.15rem;
}

.buy-btn {
  font-size: 1.3rem;
}

.input-class {
  font-size: 1.7rem;
}

.input-class input {
  font-size: 1.1rem;
}

#footer {
  font-size: 1.3rem;
}

.prd-specs-modal,
.prd-warranty-modal {
  font-size: 1.1rem;
}

.prd-page h1 {
  font-size: 1.85rem;
}

.prd-title span {
  font-size: 1.1rem;
}

@media screen and (max-width: 1450px) {
  h1,
  h2 {
    line-height: 1.05;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 2.25rem !important;
    line-height: unset;
    margin-bottom: 20px !important;
    line-height: 1.1;
  }

  h3 {
    font-size: 1.5rem !important;
    line-height: unset;
    margin-bottom: 20px !important;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .copywright {
    font-size: 1rem !important;
  }

  #contact p {
    font-size: 1rem !important;
  }

  #contact h1,
  #shop h1,
  #cart h1 {
    font-size: 3rem;
    text-align: center;
  }

  .checkout-container h2 {
    text-align: center;
  }

  #contact-form h2 {
    width: 100%;
  }

  .prd-page-block h1 {
    font-size: 3rem;
  }

  .prd-title span {
    font-size: 0.9rem;
  }
}
