*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/** INIZIO STILI GLOBALI **/
body {
  color: #faf9f6;
  background: #080808;
  width: 100%;
  min-height: 100vh;
}

::selection {
  background-color: #faf9f6;
  color: #000;
}

/* For older browsers */
::-moz-selection {
  background-color: #faf9f6;
  color: #000;
}

.blocco {
  margin: 0 50px;
  margin-bottom: 200px !important;
}

a {
  text-decoration: none;
}

.link-btn {
  font-weight: 100;
  text-decoration: unset !important;
  position: relative;
  text-decoration: none;
  transition: color 0.65s ease-in-out;
  cursor: pointer;
}

.link-btn:hover {
  color: rgba(255, 255, 255, 0.45);
}

.slide-but {
  color: #faf9f6;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 25px;
}
/** FINE STILI GLOBALI **/

/** INZIO STILE HEADER **/
#header {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 0 !important;
}

.header-anchors {
  display: flex;
  gap: 30px;
}

.mobile-menu {
  display: none;
}

/* Cart container */
.menu-dropdown {
  border-top: 1px solid #28282b;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.menu-dropdown.open {
  margin-top: 50px;
  max-height: 2000px;
  opacity: 1;
}

.menu-dropdown.closed {
  max-height: 0;
  opacity: 0;
}

.first-link {
  margin-top: 25px;
}

.cart-row {
  padding: 30px 0;
  display: flex;
  gap: 100px;
  border-bottom: 1px solid #28282b;
}

.cart-img {
  width: 100px;
}

.cart-text {
  display: flex;
  gap: 100px;
}

.cart-text > div {
  display: flex;
  flex-direction: column;
}

.cart-checkout {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  padding: 10px 30px;
  width: 100%;
  background: white;
  color: black;
}
/** FINE STILE HEADER **/

/** INIZIO STILE FOOTER **/
#footer {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer a {
  cursor: pointer;
}
/** FINE STILE FOOTER **/

/* INIZIO STILE PRODUCT PAGE */

.shop-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-btn {
  cursor: pointer;
  padding: 20px 30px;
  border: 1px solid #faf9f6;
  background: #000;
  color: #faf9f6;
  padding: 15px 25px;
  width: fit-content;
  transition: background 0.45s ease-in, color 0.45s ease-in,
    border 0.45s ease-in;
}

.buy-btn:hover {
  background: #faf9f6;
  color: #000;
  border: 1px solid #000;
}

.prd-title {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.prd-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prd-page h1 {
  margin-bottom: 20px;
}

.prd-page-block {
  display: flex;
}

.prd-container {
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: sticky;
  top: 75px;
  padding: 0 30px;
  padding-top: 30px;
  border-top: white 1px solid;
  height: 26vw;
  gap: 60px;
}

.parent-container {
  height: auto;
  flex: 1;
}

/* FINE STILE PRODUCT PAGE */

/* INIZIO STILE CONTACT */

#contact {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
}

#contact p {
  font-size: 1.25rem;
}

#contact h1 {
  border-top: 1px solid white;
  padding: 25px 30px;
}

.contact-container {
  border-top: 1px solid white;
  display: flex;
  padding: 0 30px;
}

.contact-box {
  flex: 0 0 45%;
  padding-right: 80px;
  padding-top: 50px;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact-img {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.contact-section {
  padding-top: 50px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}

.contact-section::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid white;
}

/* FINE STILE CONTACT */

/* CONTACT FORM */

#contact-form {
  padding: 100px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  border-bottom: solid white 1px;
  border-top: solid white 1px;
}

#contact-form input {
  text-align: center;
  font-size: 1.1rem;
  color: white;
  padding: 30px 0;
  width: 70%;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}

#contact-form h2 {
  width: 40%;
  text-align: center;
  line-height: 1.7;
}

/* CHECKOUT STYLE */
.mute-button {
  background: transparent !important;
  border: 0 !important;
  font-size: 2rem;
}
