*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/** INIZIO STILI GLOBALI **/
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Remove scrollbar space */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Optional: show position indicator */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* Body styles */
body {
  font-size: 14px;
  color: #faf9f6;
  background: #080808;
  width: 100%;
  min-height: 100vh; /* Ensure body covers the full viewport height */
}

::selection {
  background-color: #faf9f6;
  color: #000;
}

/* For older browsers */
::-moz-selection {
  background-color: #faf9f6;
  color: #000;
}

.blocco {
  margin: 0 8%;
  margin-bottom: 200px !important;
}

a {
  text-decoration: none;
}

.link-btn {
  font-size: 1.15rem;
  font-weight: 100;
  text-decoration: unset !important;
  position: relative;
  text-decoration: none;
  transition: color 0.65s ease-in-out;
  cursor: pointer;
}

.link-btn:hover {
  color: rgba(255, 255, 255, 0.45);
}

p {
  font-weight: 100;
  font-size: 1.35rem;
  line-height: 1.6;
}

.input-class {
  background: #28282b;
  color: white;
  height: 50px;
  border: none;
  font-size: 1.7rem;
  padding: 20px 50px;
  height: 100px;
}

.input-class input {
  font-size: 1.1rem;
  padding: 20px 0px;
  background: #28282b;
  color: white;
  width: 100%;
  border: none;
  border-bottom: #161616 solid 2px;
}
/** FINE STILI GLOBALI **/

/** INZIO STILE HEADER **/
#header {
  overflow-x: hidden;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 99;
  /* background-color: rgba(0, 0, 0, 0.75); */
  background: #161616;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 0 !important;
}

.header-anchors {
  display: flex;
  gap: 30px;
}

.mobile-menu {
  display: none;
}

/* Cart container */
.menu-dropdown {
  border-top: 1px solid #28282b;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

/* When the cart is open, slide down and fade in */
.menu-dropdown.open {
  margin-top: 50px;
  max-height: 1000px; /* Adjust to the height of your cart content */
  opacity: 1;
}

/* When the cart is closed, slide up and fade out */
.menu-dropdown.closed {
  max-height: 0;
  opacity: 0;
}

.cart-row {
  padding: 30px 0;
  display: flex;
  gap: 100px;
  border-bottom: 1px solid #28282b;
}

.cart-img {
  width: 100px;
}

.cart-text {
  display: flex;
  gap: 100px;
}

.cart-text > div {
  display: flex;
  flex-direction: column;
}

.cart-checkout {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.cart-checkout p {
  margin-top: 20px;
  font-size: 0.9rem;
}
/** FINE STILE HEADER **/

/** INIZIO STILE FOOTER **/
#footer {
  padding: 200px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

#footer a {
  cursor: pointer;
}

.footer-container span {
  margin-bottom: 20px !important;
}

.social-links {
  display: flex;
  gap: 50px;
}
/** FINE STILE FOOTER **/

/** INIZIO STILE INTRO **/
#intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Ensures video fits */
  background-color: rgba(0, 0, 0, 0.5);
}

#intro-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the background */
  z-index: -1; /* Ensures the video stays behind the content */ /* Adjust this value to set desired opacity */
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1; /* Content stays above the video */
}

.content-span {
  margin-top: 25px;
  font-size: 1.3rem;
}
/** FINE STILE INTRO **/

/* INIZIO STILE SHOP-ITEM */
.shop-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between the image and text */
  background: #28282b;
  height: 650px;
  width: 630px;
  padding: 25px;
  position: relative;
}

.shop-item-img {
  width: 400px;
  height: auto;
  margin: auto; /* Centers the image horizontally */
  display: block;
}

.shop-item-text {
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns the text to the bottom */
  align-items: flex-start; /* Aligns text to the left */
  gap: 7px;
  padding-bottom: 10px; /* Optional padding at the bottom */
  margin-top: 25px;
  color: white; /* Make text color stand out */
}
/* FINE STILE SHOP-ITEM */

/* INIZIO STILE SHOP */
#shop {
  margin-top: 170px;
  margin-bottom: 150px;
}

#shop h1 {
  text-align: center;
  font-size: 3rem;
}

#shop .container {
  margin-top: 50px;
  display: flex;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* FINE STILE SHOP */

/* INIZIO STILE PRODUCT PAGE */
ul {
  font-family: "Gothic";
  font-size: 1.15rem;
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

li {
  margin-bottom: 5px;
}

.btn {
  padding: 10px 30px;
  border: 1px #fff solid;
  width: fit-content;
}

.buy-btn,
.checkout-btn {
  background: #f0f0f0;
  color: #000;
}

.shop-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  width: 700px;
}

.shop-homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 80px;
}

.products-list {
  margin-bottom: 100px;
}

.prd-title {
  margin-bottom: 50px;
}

.prd-page {
  margin: 50px 0;
  margin-top: 170px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.prd-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.prd-page-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/* FINE STILE PRODUCT PAGE */

/* INIZIO ROW PRODUCTS STYLE */
#row-products-container {
  padding: 100px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#row-item .shop-item-img {
  width: 240px;
}

#row-item .shop-item-text {
  justify-content: unset;
  align-items: unset;
  text-align: center;
  margin-top: 45px;
}

/* FINE ROW PRODUCTS STYLE */
