*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/** INIZIO STILI GLOBALI **/

/* Body styles */
body {
  color: #faf9f6;
  background: #080808;
  width: 100%;
  min-height: 100vh; /* Ensure body covers the full viewport height */
  /* border-left: 1px solid white;
  border-right: 1px solid white; */
}

::selection {
  background-color: #faf9f6;
  color: #000;
}

/* For older browsers */
::-moz-selection {
  background-color: #faf9f6;
  color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #272727;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #50c878;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blocco {
  margin: 0 50px;
  margin-bottom: 200px !important;
}

/* .borders {
  border-left: 1px solid white;
  border-right: 1px solid white;
} */

a {
  text-decoration: none;
}

.link-btn {
  font-weight: 100;
  text-decoration: unset !important;
  position: relative;
  text-decoration: none;
  transition: color 0.65s ease-in-out;
  cursor: pointer;
}

.link-btn:hover {
  /* color: rgba(255, 255, 255, 0.45); */
  color: #50c878;
}

.slide-but {
  color: #faf9f6;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 25px;
}
/** FINE STILI GLOBALI **/

/** INZIO STILE HEADER **/
#header {
  position: fixed;
  top: 30px; /* Distance from the top */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 99;
  background: rgba(0, 0, 0, 1);
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  box-sizing: border-box; /* Ensures padding doesn't affect centering */
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 0 !important;
}

.header-anchors {
  display: flex;
  gap: 30px;
}

.mobile-menu {
  display: none;
}

/* Cart container */
.menu-dropdown {
  border-top: 1px solid #28282b;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.menu-dropdown.open {
  margin-top: 50px;
  max-height: 2000px;
  opacity: 1;
}

.menu-dropdown.closed {
  max-height: 0;
  opacity: 0;
}

.first-link {
  margin-top: 25px;
}

.cart-row {
  padding: 30px 0;
  display: flex;
  gap: 100px;
  border-bottom: 1px solid #28282b;
}

.cart-img {
  width: 100px;
}

.cart-text {
  display: flex;
  gap: 100px;
}

.cart-text > div {
  display: flex;
  flex-direction: column;
}

.cart-checkout {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  padding: 10px 30px;
  width: 100%;
  background: white;
  color: black;
}
/** FINE STILE HEADER **/

/** INIZIO STILE FOOTER **/
#footer {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#footer a {
  cursor: pointer;
}

#footer svg {
  font-size: 1.8rem;
}

#footer span {
  font-size: 26rem;
}

.footer-container span {
  margin-bottom: 20px !important;
}

.social-links,
.site-links {
  display: flex;
  gap: 50px;
}

.footer-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/** FINE STILE FOOTER **/

/* INIZIO STILE PRODUCT PAGE */

.shop-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-btn {
  background: #faf9f6;
  color: #28282b;
  padding: 15px 25px;
  transition: background 0.45s ease-in, color 0.45s ease-in;
}

.buy-btn:hover {
  background: #28282b;
  color: #faf9f6;
}

.line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  width: 700px;
}

.prd-title {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.prd-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.prd-page h1 {
  margin-bottom: 20px;
}

.prd-page-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
}

.prd-container {
  overflow: hidden;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid white;
}

.prd-description {
  border-right: 1px solid white;
}

.prd-description,
.prd-specs {
  padding-top: 50px;
  flex: 0 0 50%;
}

.prd-specs-modal,
.prd-warranty-modal {
  padding: 30px 0;
  border-bottom: white 1px solid;
  cursor: pointer;
}

.prd-specs-modal {
  padding-top: 0;
}

.prd-specs p,
.modal-specs-paragraph {
  margin: 30px 0;
}

.modal-specs-paragraph,
.modal-warranty-paragraph {
  word-wrap: break-word;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-specs-paragraph.open,
.modal-warranty-paragraph.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}

.modal-specs-paragraph.closed,
.modal-warranty-paragraph.closed {
  display: none;
  opacity: 0;
}

/* FINE STILE PRODUCT PAGE */

/* INIZIO STILE CONTACT */

#contact {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

#contact p {
  font-size: 1.25rem;
}

#contact h1 {
  margin-bottom: 20px;
}

.contact-container {
  border-top: 1px solid white;
  display: flex;
}

.contact-box {
  flex: 0 0 45%;
  padding-right: 80px;
  padding-top: 50px;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact-img {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.contact-section {
  padding-top: 50px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}

.contact-section::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Adds space between the content and the border */
  left: 0;
  width: 100%;
  border-bottom: 1px solid white;
}

/* FINE STILE CONTACT */

/* CONTACT FORM */

#contact-form {
  padding: 100px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  border-bottom: solid white 1px;
  border-top: solid white 1px;
}

#contact-form input {
  text-align: center;
  font-size: 1.1rem;
  color: white;
  padding: 30px 0;
  width: 70%;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}

#contact-form h2 {
  width: 40%;
  text-align: center;
  line-height: 1.7;
}

/* CHECKOUT STYLE */
