@media screen and (max-width: 1750px) {
}

@media screen and (max-width: 1450px) {
  .container > div {
    width: 100% !important;
    border-right: 0;
  }

  #shop .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .prd-container {
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .header-container {
    gap: 40px;
  }

  .menu-dropdown,
  #promo-product img {
    width: 100%;
  }

  #promo-product {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  h3,
  h2 {
    margin-bottom: 0 !important;
  }

  .blocco {
    margin: 0 25px;
  }

  .prd-page-block {
    flex-direction: column-reverse;
  }

  .prd-container {
    position: unset;
    height: auto;
    padding: 35px 15px;
    border-top: 1px solid white;
  }

  .prd-description {
    border-right: 0;
  }

  .prd-specs {
    width: 100%;
  }

  .content-span,
  span {
    font-size: 1.1rem;
  }

  #header {
    left: 6%;
    font-size: 0.85rem !important;
  }

  .cart {
    padding: 0;
  }

  .header-anchors {
    display: none;
  }
  .cart-row {
    gap: 50px;
  }

  .cart-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .menu-dropdown.open {
    margin-top: 25px;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .mobile-menu:first-child {
    margin-top: 50px !important;
  }

  #footer {
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 20px;
  }

  .footer-link {
    flex-direction: column;
    gap: 20px;
  }

  .social-links,
  .site-links {
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: baseline;
  }

  #row-products-container {
    gap: 80px;
  }

  .shop-buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .prd-title {
    align-items: flex-start;
  }

  .prd-container {
    flex-direction: column;
    border-top: 0;
  }

  #contact h1 {
    padding: 25px 15px;
  }

  .contact-container {
    flex-direction: column;
    gap: 20px 15px !important;
  }

  #contact-form h2 {
    width: 100%;
  }

  .contact-box {
    flex: none;
    border-right: 0;
    padding-right: 0;
  }

  .contact-img {
    flex: none;
  }

  .contact-img img {
    width: 100%;
  }

  #shop .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .promo-product-text {
    border-left: 0;
    gap: 30px;
  }
}

@media screen and (max-width: 480px) {
}
